<form id="edit_node_form" action="{{ path('ajax_edit', {'id' : form.get('value').getId }) }}" method="post" {{ form_enctype(form) }}>
  {{ form_widget(form) }}
<button type="submit" class="btn btn-primary">
<i class="icon-pencil icon-white"></i> UPDATE
</button>
</form>