{% extends "DiggerTreeDemoBundle::layout.html.twig" %}
{% block content %}
      <div class="row-fluid">
        <div class="span3">
          <div id="js_tree_wrap" class="well sidebar-nav">
              {{htmlTree | raw }}
          </div><!--/.well -->
        </div><!--/span-->
        <div class="span9">
          <div class="bs-docs-example">
                  {% render controller('DiggerTreeDemoBundle:Default:edit', {'id': id}), {  } %}
          </div>
        </div><!--/span-->
      </div><!--/row-->


{% endblock %}