{% extends "DiggerTreeDemoBundle::layout.html.twig" %}
{% block content %}
      <div class="row-fluid">
        <div class="span3">
          <div id="js_tree_wrap" class="well sidebar-nav">
          </div><!--/.well -->
        </div><!--/span-->
        <div class="span9">
          <div class="bs-docs-example" id="tree_node_wrap">
          </div>
        </div><!--/span-->
      </div><!--/row-->
{% endblock %}